<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-if指令</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="button" value="切换显示" @click="toggleIsShow">
        <P v-if="isShow">hello vue</P>
        <P v-show="isShow">hello vue -- v-show 修饰</P>
        <h2 v-if="temperatura>=35">大太阳</h2>
    </div>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                isShow:false,
                temperatura:40
            },
            methods:{
                toggleIsShow:function(){
                    this.isShow = !this.isShow;
                }
            }
        })
    </script>
</body>
</html>