<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表渲染</title>
    <script type="text/javascript" src="../js/vue.js" charset="utf-8"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(item, index) in items" :key="index">
                {{index}} - {{ item.message }}
            </li>
        </ul>
        <ul >
            <li v-for="(value,key) in object" :key="key">
                {{key}} -- {{ value }}
            </li>
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ],
                object: {
                    title: 'How to do lists in Vue',
                    author: 'Jane Doe',
                    publishedAt: '2016-04-10'
                }

            }

        });

    </script>
    <style type="text/css">

    </style>
</body>

</html>